<app-section-heading section_title="My Skills"></app-section-heading>
<div class="row mb-3">
  <div class="col-12">
    <p>
      Here are some of the technologies that I am working / have worked with in
      the past:
    </p>
  </div>
</div>
<div class="row mt-5">
  <h2>Proficient</h2>
</div>
<div class="row">
  <div class="col-4 skill" *ngFor="let s of proficient">
    {{ s }}
  </div>
</div>
<hr />

<div class="row mt-5">
  <h2>Familiar</h2>
</div>
<div class="row">
  <div class="col-4 skill" *ngFor="let s of familiar">
    {{ s }}
  </div>
</div>
