p {
  font-size: 1.5rem;
}
h2 {
  font-family: "Calibre";
  font-size: 3rem;
  color: var(--neon-green);
}

.skill {
  font-family: "Calibre Thin";
  font-size: 2rem;
}

.animate__animated.animate__fadeInDown {
  --animate-duration: 0.25s;
}
