<app-section-heading section_title="My Skills"></app-section-heading>
<div class="row mb-3 animate__animated animate__fadeInDown">
  <div class="col-12">
    <p>
      Here are some of the technologies that I am working / have worked with in
      the past:
    </p>
  </div>
</div>
<div class="row mt-5 animate__animated animate__fadeInDown">
  <h2>Proficient</h2>
</div>
<div class="row">
  <div
    class="col-4 skill animate__animated animate__fadeInLeftBig"
    *ngFor="let s of proficient; let i = index"
  >
    {{ s }}
  </div>
</div>
<hr />

<div class="row mt-5 animate__animated animate__fadeInDown">
  <h2>Familiar</h2>
</div>
<div class="row">
  <div
    class="col-4 skill animate__animated animate__fadeInLeftBig"
    *ngFor="let s of familiar; let i = index"
  >
    {{ s }}
  </div>
</div>

<script>
  const element = document.querySelector(".my-element");
  console.log(element);
</script>
