.nav-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.nav-items:hover > app-navigation-card:not(:hover) {
  filter: blur(0.7px) brightness(0.8);
}
