<h1 data-aos="fade-up">Hey there,</h1>
<h2 class="big-heading" data-aos-delay="100" data-aos="fade-up">
  <b>my name is Pang.</b>
</h2>
<h2 class="sub-heading" data-aos-delay="200" data-aos="fade-up">
  And I like to build stuffs.
</h2>
<p data-aos-delay="300" data-aos="fade-up">
  A soon-to-be computer science graduate, I am an aspiring (and broke) software
  developer from France with a particular interest in building things for the
  web. Currently in my final year, I am looking for internship opportunities,
  though I do freelance from time to time.
</p>

<h2 class="explore" data-aos-delay="400" data-aos="fade-up">Explore:</h2>
<div
  class="d-flex justify-content-center"
  data-aos-delay="400"
  data-aos="fade-up"
>
  <i
    class="
      fas
      fa-chevron-circle-down fa-2x
      animate__animated
      animate__pulse
      animate__infinite
      animate__delay-2s
      animate__fast
    "
  ></i>
</div>
