.experience {
  font-size: 130%;
  width: 40%;
  height: 120%;
  background-color: #0a192f;
  color: rgb(136, 136, 136);
  border: none;
  border-bottom: 1px solid #272727;
  transition: 0.5s ease;
}

.experience:hover {
  color: #64ffda;
  background-color: #0e2341;
}

.experience:focus {
  border-bottom: 1px solid #64ffda;
  color: #64ffda;
  outline: none;
}
