.experience {
  font-size: 130%;
  width: 40%;
  height: 120%;
  background-color: var(--bg-color);
  color: rgb(136, 136, 136);
  border: none;
  border-bottom: 1px solid #272727;
  transition: 300ms ease;
}

.experience:hover {
  color: var(--neon-green);
  background-color: #0e2341;
}

.selected {
  border-bottom: 1px solid var(--neon-green);
  color: var(--neon-green);
  outline: none;
}

@media screen and (max-width: 768px) {
  .experience {
    font-size: 110%;
  }
}
