<app-section-heading section_title="My Experiences"></app-section-heading>
<div class="row">
  <div class="col-6 offset-3 mb-3">
    <button
      class="experience"
      (click)="onShowWork()"
      [ngClass]="{ selected: showWork }"
    >
      Work Experiences
    </button>
    <button
      class="experience"
      (click)="onShowProjects()"
      [ngClass]="{ selected: !showWork }"
    >
      Personal Projects
    </button>
  </div>
</div>

<div class="container mt-3">
  <app-work-experience *ngIf="showWork"></app-work-experience>
  <app-projects *ngIf="!showWork"></app-projects>
</div>
