<div id="content">
  <ul class="timeline">
    <li class="event" date="Jun 2021 - Sep 2021" data-aos="fade-left">
      <h3>
        <a class="company" href="https://amadeus.com/">Amadeus</a> , Software
        Engineering Intern
      </h3>
      <ul>
        <li>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum
          veritatis velit, enim ducimus debitis eum doloremque reiciendis rerum
          nostrum obcaecati culpa officiis quae quidem, quisquam veniam!
          Laboriosam illo in labore. HGello there!
        </li>
        <li>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus,
          necessitatibus qui possimus iste quis, temporibus voluptates officia
          omnis sequi, vel modi eaque molestias nesciunt repellat impedit sit
          animi eos nobis!
        </li>
      </ul>
    </li>
    <li class="event" date="April 2019 - July 2019" data-aos="fade-left">
      <h3>
        <a class="company" href="https://www.cnrs.fr/">CNRS</a> , Research
        Intern
      </h3>
      <ul>
        <li>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus
          mollitia aperiam quidem eaque quaerat! Fuga, ab odit vitae dolorum
          blanditiis provident nobis quod quasi dolore amet accusantium
          temporibus. Maxime, enim!
        </li>
        <li>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Provident
          corrupti aliquid molestiae voluptatum obcaecati nam, ad tempora
          ratione rem quas soluta. Alias deserunt omnis illo accusamus,
          inventore laborum unde sint!
        </li>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora
        accusamus, alias quidem dicta error earum fugiat quasi eligendi placeat
        delectus veritatis aliquam asperiores. Necessitatibus aut saepe, quidem
        sapiente doloremque quasi.
      </ul>
    </li>
  </ul>
</div>
