<div id="content">
  <ul class="timeline">
    <li class="event" date="Jun 2021 - Sep 2021" data-aos="fade-left">
      <h3>
        <a class="company" href="https://amadeus.com/">Amadeus</a> , Software
        Engineering Intern
      </h3>
      <ul>
        <li>
          Built an internal tool that spies on production logs to identify the
          different flows triggered by the clients and automatically generates a
          test plan with useful test cases to improve the functional test
          activities.
        </li>
        <li>
          Tool is used by a team of more than 15 QA engineers and is able to
          improve test coverage for a newly introduced product feature by 10%.
        </li>

        <li>Technologies used: Angular 2+, Python, Elasticsearch + Kibana</li>
      </ul>
    </li>
    <li class="event" date="April 2019 - July 2019" data-aos="fade-left">
      <h3>
        <a class="company" href="https://www.cnrs.fr/">CNRS</a> , Research
        Intern
      </h3>

      <ul>
        <li>
          Studied and analyzed data from the research of a new fault detection
          algorithm based onUnsupervised Learning, DyClee.
        </li>
        <li>
          Contributed to writing a research paper on the comparison between
          different fault diagnosis methods.
        </li>
        <li>Technologies used: Python, Matlab, Maple, Latex</li>
      </ul>
    </li>
  </ul>
</div>
