p {
  font-size: 20px;
}

img {
  filter: grayscale(50%);
  transition: all 0.5s;
}

.picture {
  position: relative;
  border: 1px solid #64ffda;
}

.picture:after {
  /*Make same size as image*/
  width: 100%;
  height: 100%;
  position: absolute;
  content: "";

  /*Set style*/
  background-color: #64ffda;
  top: 9px;
  left: 9px;
  /*Position*/
  z-index: -1;
  transition: all 0.5s ease-out;
}
.picture:hover {
  top: 7px;
  left: 7px;
}

.picture:hover img {
  filter: grayscale(0%);
}

.picture:hover:after {
  top: -7px;
  left: -7px;
}
