<app-section-heading section_title="About Me"></app-section-heading>
<div class="row" data-aos="fade-up">
  <div class="col-8">
    <p>
      My name is Ryan Liing Pang, Pang (or Ryan) for short. I love to build
      stuffs that live on the internet, with a particular interest in
      interaction designs and user experience.
    </p>
    <p>
      I love to build stuffs! Whether it's software, web or mobile application,
      I strive to always apply the best engineering practices in my work and
      build meaningful products that provide performant experiences.
      Well-organised and independent person with high attention to detail, I am
      looking forward to work on interesting and ambitious projects with
      positive people!
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae,
      aperiam. Adipisci delectus, sequi explicabo obcaecati nulla blanditiis,
      minima optio iure, autem nemo quas dolores maiores totam exercitationem!
      Eveniet, maxime et.
    </p>
  </div>
  <div class="col-4">
    <div class="picture">
      <img src="../../assets/images/profile.JPG" alt="" class="img-fluid" />
    </div>
  </div>
</div>

<div class="row" data-aos="fade-up" data-aos-delay="150">
  <div class="col-8 d-flex justify-content-evenly">
    <a href="../../assets/images/cv_english.pdf" class="resume-btn" download
      >RESUME (EN)</a
    >
    <a href="../../assets/images/cv_french.pdf" class="resume-btn" download
      >RESUME (FR)</a
    >
  </div>
</div>
