<app-section-heading section_title="About Me"></app-section-heading>
<div class="row" data-aos="fade-up">
  <div class="col-12 col-xl-8">
    <p>
      My name is Liing Pang (Ryan), and I go by either Pang or Ryan. I love to
      build stuffs that live on the internet, with a particular interest in
      interaction designs and user experience.
    </p>
    <p>
      Born and raised in a small village on the west coast of Malaysia, I came
      to France about 5 years ago under a national scholarship to pursue my
      higher education. Currently a final-year student at
      <a class="school" href="https://ensimag.grenoble-inp.fr/"
        >Grenoble INP - Ensimag</a
      >, I have developed a profound interest in building web applications, and
      I am currently preparing myself before my entry into the tech scene.
    </p>
    <p>
      I love to build stuffs! Whether it's software, web or mobile application,
      I strive to always apply the best engineering practices in my work and
      build meaningful products that provide performant experiences.
      Well-organised and independent person with high attention to detail, I am
      looking forward to work on interesting and ambitious projects with
      positive people!
    </p>
  </div>
  <div class="col-12 col-xl-4">
    <div class="picture">
      <img src="../../assets/images/profile.JPG" alt="" class="img-fluid" />
    </div>
  </div>
</div>

<div
  class="
    row
    mt-5
    buttons
    animate__animated animate__fadeInUp animate__faster animate__delay-2s
  "
>
  <div class="col-12 col-xl-8 d-flex justify-content-evenly">
    <a href="../../assets/images/cv_english.pdf" class="resume-btn" download
      >RESUME (EN)</a
    >
    <a href="../../assets/images/cv_french.pdf" class="resume-btn" download
      >RESUME (FR)</a
    >
  </div>
</div>
