.section {
  font-family: "Calibre SemiBold";
  font-size: 4rem;
  color: #c5c7ce;
  transition: 300ms ease-out;
}
.dot {
  font-size: 110%;
}

.separator {
  height: 1px;
  width: 50%;
  background-color: #9faacc;
  opacity: 0.5;
  margin-bottom: 2rem;
}
