a {
  cursor: pointer;
  color: var(--word-color);
  text-decoration: none;
  transition: 250ms;
}

a:hover {
  color: var(--neon-green);
}

span {
  display: inline-block;
  font-size: 1.7rem;
}

.selected {
  color: var(--neon-green);
}
