a {
  cursor: pointer;
  color: var(--word-color);
  text-decoration: none;
  transition: 250ms;
}

a:hover {
  color: var(--neon-green);
}

span {
  display: inline-block;
  font-size: 1.7rem;
}

.selected {
  color: var(--neon-green);
}

@media screen and (max-width: 1200px) {
  span {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 1000px) {
  span {
    display: none;
  }
}
