/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "Calibre";
  src: url("./fonts/Calibre-Regular.woff") format("woff");
}
body {
  font-family: "Calibre", monospace;
  background-color: #0a192f;
  color: #9faacc;
}
