<app-section-heading section_title="Get in Touch"></app-section-heading>
<div class="row" data-aos="fade-down">
  <div class="col-8 offset-2">
    <p class="text-center">
      I am primarily looking for internship opportunities, though I do dabble in
      freelance from time to time. My inbox is always open, leave me a message
      and I'll get back to you as soon as possible.
    </p>
  </div>
</div>
<div class="row mt-5 contacts">
  <div class="col-12 col-md-6 col-lg-3 mt-3" align="center">
    <a
      href="mailto:ryanfx1998@gmail.com"
      class="
        fas
        fa-envelope fa-8x
        animate__animated animate__fadeInDown animate__delay-2s
      "
    ></a>
  </div>
  <div class="col-12 col-md-6 col-lg-3 mt-3" align="center">
    <a
      href="https://www.linkedin.com/in/liingpang"
      class="
        fab
        fa-linkedin fa-8x
        animate__animated animate__fadeInDown animate__delay-2s
      "
    ></a>
  </div>
  <div class="col-12 col-md-6 col-lg-3 mt-3" align="center">
    <a
      href="https://github.com/pangpangguy"
      class="
        fab
        fa-github fa-8x
        animate__animated animate__fadeInDown animate__delay-2s
      "
    ></a>
  </div>
  <div class="col-12 col-md-6 col-lg-3 mt-3" align="center">
    <a
      href="https://gitlab.ensimag.fr/teel"
      class="
        fab
        fa-gitlab fa-8x
        animate__animated animate__fadeInDown animate__delay-2s
      "
    ></a>
  </div>
</div>
