<app-section-heading section_title="Get in Touch"></app-section-heading>
<div class="row">
  <div class="col-8 offset-2">
    <p class="text-center">
      I am primarily looking for internship opportunities, though I do dabble in
      freelance from time to time. My inbox is always open, leave me a message
      and I'll get back to you as soon as possible.
    </p>
  </div>
</div>
<div class="d-flex justify-content-around">
  <div class="p-2">
    <a href="mailto:ryanfx1998@gmail.com" class="fas fa-envelope fa-6x"></a>
  </div>
  <div class="p-2">
    <a
      href="https://www.linkedin.com/in/liingpang"
      class="fab fa-linkedin fa-6x"
    ></a>
  </div>
  <div class="p-2">
    <a href="https://github.com/pangpangguy" class="fab fa-github fa-6x"></a>
  </div>
  <div class="p-2">
    <a href="https://gitlab.ensimag.fr/teel" class="fab fa-gitlab fa-6x"></a>
  </div>
</div>
