p {
  font-family: "Calibre";
  font-size: 1.5rem;
}

a {
  cursor: pointer;
  color: var(--word-color);
  text-decoration: none;
  transition: 250ms;
}

a:hover {
  color: var(--neon-green);
}

.contact {
  transition: 250ms ease;
}
.contact:hover {
  transform: translateY(-20px);
}

.fa-envelope {
  --animate-delay: 0.1s;
}
.fa-linkedin {
  --animate-delay: 0.2s;
}
.fa-github {
  --animate-delay: 0.3s;
}
.fa-gitlab {
  --animate-delay: 0.4s;
}
